.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#b8ebf8 50%, #6e3f33 50%);
}

.home-main-img {
  width: 100%;
}
